body {
  width: 1440px;
  height: 3557px;
  background-image: url(../img/back.svg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: scroll;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
