.one {
  position: absolute;
  top: 70px;
  width: 1440px;
  height: 981px;
}

.apple {
  position: absolute;
  width: 271px;
  height: 95px;
  background-image: url(../img/apple.png);
  background-size: cover;
  bottom: 92px;
  left: 153px;
}

.android {
  position: absolute;
  width: 217px;
  height: 71px;
  background-image: url(../img/android.png);
  background-size: cover;
  bottom: 97px;
  left: 431px;
}

.apple:hover, .android:hover {
  cursor: pointer;
}

.apple:active {
  width: 269px;
  height: 93px;
}

.android:active {
  width: 215px;
  height: 69px;
}
