body {
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

.background {
  width: 1440px;
  height: 5629px;
  background-image: url(../img/back.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

::-webkit-scrollbar {
    display: none;
}

* {
  box-sizing: border-box;
}
